
<app-recipe-header (featureSelected)="onNavigate($event)"></app-recipe-header>
<div class="container">
  <div class="row">    
    <div class="col-md-12">
      <app-recipes-parent *ngIf="loadedFeature === 'recipe'"></app-recipes-parent>
      <app-shopping-list-parent *ngIf="loadedFeature !== 'recipe'"></app-shopping-list-parent>
    </div>
  </div>
</div>